VITE_SUPABASE_URL=https://tqijwhfqwewillvhlglt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxaWp3aGZxd2V3aWxsdmhsZ2x0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0ODEwMjAsImV4cCI6MjEwNTA1NzAyMH0.0yZgU7DlKfbfBWXmeZkDY9y7I_uxrr4dZdR3seDYsmo